APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=predictiveguard
POSTGRES_USER=predictiveguard
POSTGRES_PASSWORD=predictiveguard
POSTGRES_CONNECT_TIMEOUT_SECONDS=3
POSTGRES_COMMAND_TIMEOUT_SECONDS=3
POSTGRES_HEALTH_TIMEOUT_SECONDS=5
