APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=predictiveguard
POSTGRES_USER=predictiveguard
POSTGRES_PASSWORD=predictiveguard
POSTGRES_CONNECT_TIMEOUT_SECONDS=3
POSTGRES_COMMAND_TIMEOUT_SECONDS=3
POSTGRES_HEALTH_TIMEOUT_SECONDS=5

MLFLOW_TRACKING_URI=http://127.0.0.1:5050
MLFLOW_EXPERIMENT_NAME=predictiveguard-ai4i
MODEL_NAME=PredictiveGuardFailureModel
MODEL_ALIAS=champion
MLFLOW_DB_NAME=mlflow
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=mlflow
